<!-- 
<style>
    table, th, td {
  border: 1px solid black;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>



    <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Alamat</th>
    </tr>
    <tr>
      <td>Tony Robert</td>
      <td>obet@gamil.com</td>
      <td>cengkareng</td>
    </tr>
    <tr>
      <td>danar</td>
      <td>danar@gmail.com</td>
      <td>cileduk</td>
    </tr>
    <tr>
      <td>Rolan</td>
      <td>Rolan@gmail.com</td>
      <td>tanah tinggi</td>
    </tr>
    <tr>
      <td>Helen </td>
      <td>Helen@gamil.com</td>
      <td>Kemang</td>
    </tr>
    <tr>
      <td>Yoshi</td>
      <td>Yoshi@gamil.com</td>
      <td>Mampang</td>
    </tr>
    <tr>
      <td>Geovanni</td>
      <td>Giovanni@gamil.com</td>
      <td>Grogol</td>
    </tr>
  </table> -->


  <mat-toolbar class="tool">
    <span class="span">My App</span>
  </mat-toolbar>

  <td class="content">
    <app-content></app-content>
  </td>
   
 

  